<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>EmployeeData</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>Home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>uniqdevloper.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>uniqdevloper.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminloginn</display-name>
    <servlet-name>adminloginn</servlet-name>
    <servlet-class>uniqdevloper.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminloginn</servlet-name>
    <url-pattern>/adminloginn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewEmployee</display-name>
    <servlet-name>AddNewEmployee</servlet-name>
    <servlet-class>uniqdevloper.AddNewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewEmployee</servlet-name>
    <url-pattern>/AddNewEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>uniqdevloper.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userupdate</display-name>
    <servlet-name>userupdate</servlet-name>
    <servlet-class>uniqdevloper.userupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userupdate</servlet-name>
    <url-pattern>/userupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteuser</display-name>
    <servlet-name>deleteuser</servlet-name>
    <servlet-class>uniqdevloper.deleteuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteuser</servlet-name>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chnagepassword</display-name>
    <servlet-name>chnagepassword</servlet-name>
    <servlet-class>uniqdevloper.chnagepassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chnagepassword</servlet-name>
    <url-pattern>/chnagepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogout</display-name>
    <servlet-name>adminlogout</servlet-name>
    <servlet-class>uniqdevloper.adminlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogout</servlet-name>
    <url-pattern>/adminlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addnewemployee2</display-name>
    <servlet-name>addnewemployee2</servlet-name>
    <servlet-class>uniqdevloper.addnewemployee2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addnewemployee2</servlet-name>
    <url-pattern>/addnewemployee2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddnewEmployeess</display-name>
    <servlet-name>AddnewEmployeess</servlet-name>
    <servlet-class>uniqdevloper.AddnewEmployeess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddnewEmployeess</servlet-name>
    <url-pattern>/AddnewEmployeess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addsalary</display-name>
    <servlet-name>Addsalary</servlet-name>
    <servlet-class>uniqdevloper.Addsalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addsalary</servlet-name>
    <url-pattern>/Addsalary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSalaryy</display-name>
    <servlet-name>AddSalaryy</servlet-name>
    <servlet-class>uniqdevloper.AddSalaryy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSalaryy</servlet-name>
    <url-pattern>/AddSalaryy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dropdown</display-name>
    <servlet-name>dropdown</servlet-name>
    <servlet-class>uniqdevloper.dropdown</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dropdown</servlet-name>
    <url-pattern>/dropdown</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addemployeeinforamtion</display-name>
    <servlet-name>Addemployeeinforamtion</servlet-name>
    <servlet-class>uniqdevloper.Addemployeeinforamtion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addemployeeinforamtion</servlet-name>
    <url-pattern>/Addemployeeinforamtion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADDDropdownData</display-name>
    <servlet-name>ADDDropdownData</servlet-name>
    <servlet-class>uniqdevloper.ADDDropdownData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADDDropdownData</servlet-name>
    <url-pattern>/ADDDropdownData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leave</display-name>
    <servlet-name>leave</servlet-name>
    <servlet-class>uniqdevloper.leave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leave</servlet-name>
    <url-pattern>/leave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leavestausupdate</display-name>
    <servlet-name>leavestausupdate</servlet-name>
    <servlet-class>uniqdevloper.leavestausupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leavestausupdate</servlet-name>
    <url-pattern>/leavestausupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginlogouttimetraking</display-name>
    <servlet-name>loginlogouttimetraking</servlet-name>
    <servlet-class>uniqdevloper.loginlogouttimetraking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginlogouttimetraking</servlet-name>
    <url-pattern>/loginlogouttimetraking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginlogouttimetracking</display-name>
    <servlet-name>loginlogouttimetracking</servlet-name>
    <servlet-class>uniqdevloper.loginlogouttimetracking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginlogouttimetracking</servlet-name>
    <url-pattern>/loginlogouttimetracking</url-pattern>
  </servlet-mapping>
</web-app>